<section>
  <h3>→ <%= link_to "#{current_page.title}", current_page.url %> </h3>
  <%= current_page.summary %>
  <%= current_page.date.strftime("%D") %>
  <%= partial("partials/tags", :locals => { :current_page => current_page })%>
</section>