
.video {
	text-align: center;
}

.video > iframe {
	width: 100%;
	max-width: 560px;
	aspect-ratio: 16 / 9;
	height: auto;
}

@media screen and (min-width: 0px) and (max-width: 560px) {
  .video > iframe {
		display: none;
	}
}

@media screen and (min-width: 561px) {
	.video > a {
		display: none;
	}
}
