---
pageable: true
per_page: 5
layout: layouts/default
---

<h1 class="visually-hidden">Recent posts</h1>
<% page_articles.each do |article| %>
  <%= partial("partials/summary", :locals => {:current_page => article}) %>
<% end %>

<footer>
  <p>
    <% if !prev_page.nil? %>
      <%= link_to '← Prev', prev_page, 'aria-label' => 'Previous page' %>
      <%= link_to 'tklon.com', '/' %>
    <% end %>
    <% if !next_page.nil? %>
      <%= link_to 'Next →', next_page, 'aria-label' => 'Next page' %>
    <% end %>
  </p>
</footer>
