{% extends "layout.html" %}
{% block content %}
    <article class="h-entry">
      <header>
        <h1 class="p-name">{{ post.title | escape }}</h1>
        <p>
          <time class="dt-published" datetime="{{ post.date_iso }}">{{ post.date_long }}</time> -
          <em>tags:</em> {% for tag in post.tags %}<a href="/tags/?{{ tag }}" class="Tag p-category" data-tag="{{ tag }}">{{ tag }}</a> {% endfor %}
        </p>
      </header>
      <div class="e-content">
{{ post.body_html | safe }}
      </div>
      <footer>
        <p>( &#9998; <a href="{{ post.edit_url }}">Edit this file</a> )</p>
      </footer>
    </article>
{% endblock %}
